@import "tailwindcss";
@plugin "daisyui";



/* Latest Books Slider */
.latest-books-slider .swiper-button-next,
.latest-books-slider .swiper-button-prev {
  color: #6366f1;
  background: white;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.latest-books-slider .swiper-button-next:after,
.latest-books-slider .swiper-button-prev:after {
  font-size: 20px;
  font-weight: bold;
}

.latest-books-slider .swiper-pagination-bullet {
  background: #6366f1;
  opacity: 0.3;
}

.latest-books-slider .swiper-pagination-bullet-active {
  opacity: 1;
  background: #6366f1;
}